body {
    background-color: yellow;
}

#container1 {
display: flex;
justify-content: center;
}

.container2 {
    display: flex;
    justify-content: center;
    gap: 8px;
}

#container {
display: flex;
max-height: 256px;
max-width: 256px;
flex-wrap: wrap;
}

.box {
background-color: black;
height: 16px;
width: 16px;
}

.buttons {
    display: flex;
    gap: 100px;
    max-height: 20px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 20px;
}